{{#unless this.isLoggedIn}}
<SignUp/>

{{/unless}}
<Login 
@setIsLoggedIn = {{this.changeLoginState}}
@setNewNameList = {{this.changeNameList}}
/>

{{#if this.isLoggedIn}}
<div data-test-main-display>
<div class="container">
<p>
<label for="names">Add a name</label>
<input names-input id="names" type="string" oninput={{action saveNameInput}} value={{newNameInput}} />
</p>


<p>
<label for="event">Add an Event</label>
<input event id="event" type="string" oninput={{action saveEventInput}} value={{newEventInput}}/>
</p>

<p>
<label for="event">Add an Amount</label>
<input amount id="amount" type="string" oninput={{action saveAmountInput}} value={{newAmountInput}}/>
</p>

<p>
<button type="submit"
add-new-record
onclick={{action addToNameList}}>Add To List</button>
</p>

</div>

<div class="center">

<ShowFirstList 
 @nameList = {{this.nameList}}
 @isLoggedIn = {{this.isLoggedIn}}
 @isTallyUpClicked = {{this.isTallyUpClicked}}
 @setIsTallyUp = {{this.setIsTallyUp}}
/>

{{!-- {{#if nameList}}
<p>
    <button type="submit"
    onclick={{action addAmounts}}>Tally Up</button>
</p>
    
{{/if}} --}}
</div>

<ShowSecondList 
@nameList = {{this.nameList}}
@isTallyUpClicked = {{this.isTallyUpClicked}}
 @isLoggedIn = {{this.isLoggedIn}}

/>

{{!-- <div class="center">
{{#if isTallyUpClicked}}
<p>The total Amount spent is {{USDollarFormat sumOfExpendages}}</p> 

<p>Each person should contribute {{USDollarFormat supposedIndividualContribution}}</p>

<div class="container">
<ul>
{{#each this.nameList as |person index|}}
    
    <div class="showOwed" style={{InsertBorder person.AmountOwed}}>

    <p>{{person.Name}} 
    {{USDollarFormat person.AmountOwed}}</p>
    </div>
    
    
{{/each}}
</ul>
</div>

{{/if}}
</div> --}}
</div>
{{/if}}
