<div class="container">
<p>
<label for="names">Add a name</label>
<input id="names" type="string" oninput={{action saveNameInput}} value={{newNameInput}}/>
</p>


<p>
<label for="event">Add an Event</label>
<input id="event" type="string" oninput={{action saveEventInput}} value={{newEventInput}}/>
</p>



<p>
<label for="event">Add an Amount</label>
<input id="event" type="string" oninput={{action saveAmountInput}} value={{newAmountInput}}/>
</p>


<p>
<button type="submit"
onclick={{action addToNameList}}>Add To List</button>
</p>
</div>

<div class="center">
<ul>
{{#each this.nameList as |person index|}}
    <p>
    <li>{{person.Name}} {{person.Event}} 
        {{#if person.Amount}}{{USDollarFormat person.Amount}}{{/if}}
        <button onclick={{action removeFromList index}}>-</button>
    </li>
    </p>
    
{{/each}}
</ul>


{{#if nameList}}
<p>
    <button type="submit"
    onclick={{action addAmounts}}>Tally Up</button>
</p>
    
{{/if}}
</div>

<div class="center">
{{#if isTallyUpClicked}}
<p>The total Amount spent is {{USDollarFormat sumOfExpendages}}</p> 

<p>Each person should contribute {{USDollarFormat supposedIndividualContribution}}</p>

<div class="container">
<ul>
{{#each this.nameList as |person index|}}
    
    <div class="showOwed" style={{InsertBorder person.AmountOwed}}>

    <p>{{person.Name}} 
    {{USDollarFormat person.AmountOwed}}</p>
    </div>
    
    
{{/each}}
</ul>
</div>

{{/if}}
</div>
