<body  class = "second">

<AddName
    @localData={{this.localData}}
    @currentNameValue={{this.currentNameValue}}
    @inputNameValue={{this.inputNameValue}}
    @nameList={{this.nameList}} 
    @selectName={{this.selectName}}
    @addToName={{this.addToName}}
    @deleteNameListAtIndex={{this.deleteNameListAtIndex}}
    
    />
    
<AddEvent
    @addToList={{this.addToList}}
    @currentNameValue2={{this.currentNameValue2}}
    @currentEventValue={{this.currentEventValue}}
    @inputEventValue={{this.inputEventValue}}
    @currentPriceValue={{this.currentPriceValue}}
    @inputPriceValue={{this.inputPriceValue}}
    @deleteEventList={{this.deleteEventList}}
/>

<DisplayInfo
    @localData={{this.localData}}
    @deleteEventListAtIndex={{this.deleteEventListAtIndex}}
    @nameList={{this.nameList}} 
    @eventList={{this.eventList}}
    @owedList={{this.owedList}}
 
/>

</body>
